<!DOCTYPE html>
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>
<!--    <header th:replace="~{header :: header}"></header>-->
    <header id="header"></header>

    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>
        <aside>
            <p><span id="nickname">Uno</span></p>
            <p><a id="email" href="mailto:djkehh@gmail.com">uno@mail.com</a></p>
            <p><time id="created-at" datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p><span id="hashtag" class="badge text-bg-secondary mx-1"><a class="text-reset">#java</a></span></p>
        </aside>
    </main>
<!--    <footer th:replace="footer :: footer"></footer>-->
    <footer id="footer"></footer>

</body>
</html>